#container{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
form{
    margin-bottom: 20px;
}
#taskInput{
    padding: 10px 20px;
    width: 80%;
    margin: 8px 0;
    box-sizing: border-box;
}
#btn{
    width: 20%;
    padding: 14px 20px;
    background-color: green;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
ul{
    list-style: none;
}

#taskList{
     width: 400px;
     margin:0 auto;
     text-align: center;
}
li{
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}